/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 16, 2014, 4:51:39 PM
    Author     : vincent
*/

.form .row{margin-left:0px;}
#mainmenu{padding-bottom:40px;}
#footer{text-align:center;}